<!DOCTYPE html>
<html lang="en">

<head>
    <title>home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>


<body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="home">Home</a></li>
                <li> <a href="about">about</a></li>
                <li><a href="contact">contactus</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <h1>Welcome to home page</h1>
    </div>
</body>

</html>